{% extends "layouts/base.twig" %}

{% block css %}
<link rel="stylesheet" href="{{ baseURL }}/css/app.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container-welcome">
    <h1>Hello {{ baseURL }}!</h1>
</div>
{% endblock %}